---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import ClienteAuthForm from '../components/cliente/ClienteAuthForm.tsx';
---

<Layout title="Login Cliente - JP Barber">
	<main class="min-h-screen bg-black">
		<ClienteAuthForm client:only="react" />
	</main>
</Layout>

<style>
	body {
		margin: 0;
		padding: 0;
		background: black;
	}
</style>